<form class="form-container mx-auto d-flex flex-column justify-content-center align-items-center" [formGroup]="form">
    <i class="fa-regular fa-user profile-icon mb-4"></i>
    <h2 class="mb-4">Log in</h2>
    <app-input
            class="w-100"
            type="text"
            id="email"
            placeholder="Email address"
            label="Email address"
            [control]="emailControl"
            [errorMessage]="emailErrorMessage"
    ></app-input>
    <app-input
            class="w-100"
            type="password"
            id="password"
            placeholder="Password"
            label="Password"
            [control]="passwordControl"
            [errorMessage]="passwordErrorMessage"
    ></app-input>

    <button class="btn btn-primary mb-4" type="submit" [disabled]="form.invalid || isLoginLoading()" (click)="login()">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" *ngIf="isLoginLoading()"></span>
        <span>Log in</span>
    </button>

    <div>No account yet? <a href="/auth/signup">Sign up</a></div>
</form>
