@import "client/src/_typography";

:host {
  width: 80px;
}

.sidebar {
  width: 80px;
  height: 100%;

  &__item {
    border-radius: 16px;

    &:hover {
      background-color: #6b6b6b;
    }

    &__text {
      max-width: 50px;
    }

    * {
      color: white;
    }
  }
}
