<div class="sidebar position-fixed d-flex flex-column justify-content-start align-items-center gap-1 px-1 py-2">
    <div class="sidebar__item py-1">
        <button type="button" class="btn btn-md">
            <i class="fa fa-home"></i>
            <span class="font__size--xs">Home</span>
        </button>
    </div>

    <div class="sidebar__item py-1">
        <button type="button" class="btn btn-md">
            <i class="fa fa-home"></i>
            <span class="font__size--xs">Home</span>
        </button>
    </div>

    <div class="sidebar__item py-1">
        <button type="button" class="btn btn-md">
            <i class="fa fa-home"></i>
            <span class="font__size--xs">Home</span>
        </button>
    </div>

    <div class="sidebar__item py-1">
        <button type="button" class="btn btn-md">
            <i class="fa fa-home"></i>
            <span class="font__size--xs">Home</span>
        </button>
    </div>
</div>
