<div
    class="sidebar position-fixed d-flex flex-column justify-content-start align-items-center gap-1 px-1 py-2 bg-dark"
>
    <div class="sidebar__item py-1 w-100">
        <button type="button" class="btn btn-md w-100">
            <i class="fa fa-home w-100"></i>
            <span class="sidebar__item__text font__size--xs d-inline-block text-truncate">Home</span>
        </button>
    </div>

    <div class="sidebar__item py-1 w-100">
        <button type="button" class="btn btn-md w-100">
            <i class="fa fa-regular fa-bolt w-100"></i>
            <span class="sidebar__item__text font__size--xs d-inline-block text-truncate">Shorts</span>
        </button>
    </div>

    <div class="sidebar__item py-1 w-100">
        <button type="button" class="btn btn-md w-100">
            <i class="fa fa-solid fa-layer-group w-100"></i>
            <span class="sidebar__item__text font__size--xs d-inline-block text-truncate">Subscriptions</span>
        </button>
    </div>

    <div class="sidebar__item py-1 w-100">
        <button type="button" class="btn btn-md w-100">
            <i class="fa fa-solid fa-clapperboard w-100"></i>
            <span class="sidebar__item__text font__size--xs d-inline-block text-truncate">You</span>
        </button>
    </div>
</div>
