@import "client/src/_typography";

.sidebar {
  width: 64px;
  height: 100vh;

  &__item {
    border-radius: 16px;

    &:hover {
      background-color: #6b6b6b;
    }

    * {
      color: white;
    }

    small {
      font-size: $font-size-sm;
      display: block;
      font-weight: 300;
      margin-top: 4px;
    }
  }
}
