<div class="backdrop"></div>

<div class="sidebar-mini position-fixed d-flex flex-column justify-content-start align-items-center bg-dark gap-1 px-1 py-2">
    <button type="button"
            class="btn btn-lg"
            [attr.aria-expanded]="!isCollapsed"
            (click)="collapse.toggle()"
            *ngIf="overlayView"
    >
        <i class="fa fa-bars" style="color: white"></i>
    </button>

    <div class="sidebar-mini__item">
        <button type="button" class="btn btn-lg">
            <i class="fa fa-home"></i>
            <small>Home</small>
        </button>
    </div>

    <div class="sidebar-mini__item">
        <button type="button" class="btn btn-lg">
            <i class="fa fa-home"></i>
            <small>Home</small>
        </button>
    </div>

    <div class="sidebar-mini__item">
        <button type="button" class="btn btn-lg">
            <i class="fa fa-home"></i>
            <small>Home</small>
        </button>
    </div>

    <div class="sidebar-mini__item">
        <button type="button" class="btn btn-lg">
            <i class="fa fa-home"></i>
            <small>Home</small>
        </button>
    </div>
</div>

<div class="sidebar position-absolute">
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true" [animation]="true" style="max-width: 300px">
<!--        <div class="card" style="width: 300px">-->
<!--            <div class="card-body">You can collapse horizontally this card by clicking Toggle</div>-->
<!--        </div>-->
    </div>
</div>
