.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  display: none;
}

.sidebar-mini {
  width: 100px;
  height: 100vh;

  &__item {
    border-radius: 16px;
    &:hover {
      background-color: #266ab7;
    }
    * {
      color: white;
    }
    small {
      font-size: 0.6em;
      display: block;
      font-weight: 200;
      margin-top: 2px;
    }
  }
}

.sidebar {
  height: 100vh;

  &__content {

  }
}
