<div>
    <div class="d-flex justify-content-between">
        <h1>Your videos</h1>
        <button class="btn btn-outline-info rounded-pill px-4">
            <i class="fa-solid fa-upload me-2"></i>
            <span>Upload</span>
        </button>
    </div>
    <div>
        <div *ngIf="user()?.videos?.length > 0; else videoListEmptyState">
            <!-- List of videos -->
        </div>
    </div>

    <ng-template #videoListEmptyState>
        <div>
            You have no uploaded videos
        </div>
    </ng-template>
</div>

