<div class="pt-6 container">
    <form [formGroup]="form" class="w-100 p-4 settings-header" *ngIf="user()">
        <label for="upload" class="upload-label">
            <div class="upload-picture">
                <img
                    *ngIf="user().profilePictureUrl; else profilePicturePlaceholder"
                    [src]="user().profilePictureUrl"
                    class="rounded-circle"
                    alt="Profile picture"
                    loading="lazy"
                />
            </div>
            <div class="upload-text">Upload image</div>
        </label>
        <input
                id="upload"
                formControlName="profilePicture"
                class="file-upload"
                type="file"
                accept="image/*"
                [disabled]="isUploadLoading()"
                (change)="onFileChange($event)">

        <div class="d-inline-block ms-5">
            <h2>{{ user().name }}</h2>
            <div>{{ user().email }}</div>
        </div>
    </form>
</div>

<ng-template #profilePicturePlaceholder>
    <i class="fa-regular fa-user profile-icon"></i>
</ng-template>

<ng-template #uploadLoadingSpinner>
    <div class="spinner">
        <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
    </div>
</ng-template>
